@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Outfit', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.tiptap-container {
  max-width: 100%;
  width: 50rem;
  border: olivedrab solid 1px;
  border-radius: 1rem;
  padding: 1rem;
}